<div class="jumbotron">
  <h1>April Fools!</h1>
  <p>
    ElixirDevOps 2023 is just a prank. Enjoy the rest of your day with a smile on your face!
  </p>
  <img src="https://ca.slack-edge.com/ENZ8SEUTX-U02LXDQE24D-c5c3e08f0a8b-512" alt="April Fools' GIF">
</div>

